{% extends "rest_framework/base.html" %}
{% load static %}

{% block title %}
    Membership System | API
{% endblock %}

{% block branding %}

    <span>
        <a class="navbar-brand" rel="nofollow">
            Membership System
        </a>
    </span>

{% endblock %}

{% block userlinks %}
    {%  if request.kiosk %}
    <li class="navbar-text">
        <b>{{ request.kiosk }}</b> {% if request.kiosk.logged_in_employee %}performing as <b>{{ request.kiosk.logged_in_employee.name }} ({{ request.kiosk.logged_in_employee.employee_id }})</b>{% endif %}
    </li>
    {% endif %}
    {{ block.super }}
{% endblock %}


{% block style %}
    {{ block.super }}
    <style>
        .navbar {
            background-color: #363636;
            border-top: none;
        }

        .navbar-brand {
            color: whitesmoke;
        }
    </style>


{% endblock %}